.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &--menu-open {
    @include tablet {
      display: none;
    }
  }
  &--select {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.0625rem 0.25rem 0px rgba(0, 0, 0, 0.12);
    color: #808080;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    text-align: start;
    box-sizing: content-box;
    min-width: 10.8rem;
    @include flex-fd-jc-ai-g(row, space-between, center, 0.8rem);
    transition: box-shadow 0.25s, border-radius 0.25s;
  }
  &--basket {
    background-color: #fed7d7;
    border-radius: 50%;
    width: 2.15rem;
    height: 2.15rem;
    @include flex-fd-jc-ai-g(row, center, center);
  }
  &--start-course {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: #48bb78;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  &--topic {
    background-color: #fff;
    color: #666;
    width: 100%;
    padding: 1rem 1.5rem;
    font-weight: 600;
    box-shadow: 0 0.0625rem 0.188rem 0 rgba(0, 0, 0, 0.1),
      0 0.0625rem 0.188rem 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
    @include flex-fd-jc-ai-g(row, space-between, center);
    transition: box-shadow 0.25s, border-radius 0.25s;

    &:hover {
      box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),
        0 0.125rem 0.25rem -0.025rem rgba(0, 0, 0, 0.06);
    }
    & .line {
      width: 0.0625rem;
      background-color: #666;
      height: 0.8rem;
      position: relative;
      transition: height 0.25s;
      &::before {
        content: "";
        inset: 0;
        margin: auto;
        position: absolute;
        width: calc(0.0625rem * 1);
        height: 0.8rem;
        transform: rotate(90deg);
        background-color: #666;
      }
    }
    &-open {
      border-radius: 0.25rem 0.25rem 0 0;
      box-shadow: 0 0px 0.25rem 0px rgba(0, 0, 0, 0.12);
      .line {
        height: 0rem;
      }
    }
  }
  &--form {
    background-color: #2a41e8;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.688rem 1.125rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(42, 65, 232, 0.15);
    transition: transform 0.25s;
    &:active {
      transform: scale(0.95);
    }
    @include tablet {
      margin-left: auto;
    }
  }
  &__arrow {
    transition: transform 0.25s;
    @include flex-fd-jc-ai-g(row, center, center);
    &--open {
      transform: rotate(180deg);
    }
  }
}
