.form {
  @include flex-fd-jc-ai-g(column, center, flex-start, 1rem);
  &--auth {
    padding: 2rem 0;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__label {
    @include flex-fd-jc-ai-g(row, flex-start, center, 0.5rem);
    cursor: pointer;
    &--auth {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      cursor: auto;
      width: 100%;
    }

    &__input {
      cursor: pointer;
      border: none;
      appearance: none;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 0rem 0.1rem #b4b4b4;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 50%;
        margin: auto;
        transform: scale(var(--scale-value));
        background-color: #2a41e8;
      }
      &--select {
        &:checked {
          animation: scale-checked 0.25s 1;
        }
      }
    }
    &__text {
      &::first-letter {
        text-transform: uppercase;
      }
    }
    &__title {
      margin: 0;
      color: #3e416d;
      font-size: 0.938rem;
      font-weight: 600;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  &__input {
    border: none;
    background: transparent;
    width: 100%;
    font-weight: 500;
    color: #808080;
    outline: none;
    &-container {
      background-color: #fff;
      @include flex-fd-jc-ai-g(row, flex-start, center, 0.25rem);
      border-radius: 0.25rem;
      box-shadow: 0 0.0265rem 0.25rem 0 rgba(0, 0, 0, 0.12);
      padding: 0.8rem;
      width: 100%;
      box-sizing: border-box;
      &:has(> .form__input:focus) {
        outline: auto;
      }
    }
  }
  &__message {
    margin: 0;
    font-size: 1rem;
    color: #666;
    font-weight: 400;
    &__link {
      color: #007bff;
      text-decoration: none;
    }
  }
  &__textarea {
    background-color: #fff;
    @include flex-fd-jc-ai-g(row, flex-start, center, 0.25rem);
    border-radius: 0.25rem;
    box-shadow: 0 0.0265rem 0.25rem 0 rgba(0, 0, 0, 0.12);
    padding: 0.8rem;
    color: #666;
    width: 100%;
    box-sizing: border-box;
    min-height: 5rem;
    resize: none;
  }
}

@keyframes scale-checked {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
