.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  --transition-value: -100%;
  transform: translate(var(--transition-value));
  transition: transform 0.25s, box-shadow 0.25s, background-color 0.25s;
  @include flex-fd-jc-ai-g(row, center, center, 1rem);
  z-index: 3;

  &--hamburger {
    position: fixed;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    box-sizing: content-box;
    flex-direction: column;
    @include tablet {
      --transition-value: 0;
      position: static;
      flex-direction: row;
      align-items: center;
      padding: 0 1.5rem;
      background-color: #ffffff00;
    }
  }
  &--open {
    --transition-value: 0;
    box-shadow: 0 0rem 1rem 0.25rem rgb(107 107 107);
  }
  &--profile {
    --transition-value: 0%;
    background-color: transparent;
    position: static;
    z-index: 1;
    margin-left: auto;
    justify-content: flex-end;
  }

  &--features {
    --transition-value: 0%;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    z-index: 1;
  }
  &--stars {
    --transition-value: 0%;
    gap: calc(0.0625rem * 2.5);
    justify-content: flex-start;
    z-index: 1;
  }
  &--footer {
    --transition-value: 0%;
    position: static;
    flex-direction: column;
    background-color: transparent;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    &::before {
      content: attr(aria-label);
      font-weight: 700;
      font-size: 1.25rem;
    }
    &:nth-child(2) {
      flex: 1;
      @include laptop {
        padding-left: 5rem;
      }
    }
    &:nth-child(3) {
      flex: 1;
      align-self: flex-start;
    }
    &:nth-child(4) {
      flex: 100%;
      @include tablet {
        flex: 1;
        align-self: flex-start;
      }
    }
    &-socials-networks {
      flex-direction: row;
      flex: 1;
      @include tablet {
        justify-content: flex-end;
      }
    }
  }

  &__item {
    transition: margin 0.25s;
    &:has(> &__link--active) {
      margin: 0.25rem 0;
      @include tablet {
        margin: 0;
      }
    }
    &__link {
      text-decoration: none;
      color: #b3b3b3;
      font-weight: 600;
      transition: color 0.25s, font-weight 0.25s;
      &::first-letter {
        text-transform: uppercase;
      }
      &--active {
        font-weight: 800;
        color: #000;
      }
      &--footer {
        color: #e2e8f0;
        font-weight: 400;
      }
    }
    &__feature {
      color: #797979;
      font-size: 0.938rem;
      &--dot {
        font-size: 1rem;
        color: #007bff;
      }
    }
    &--stars {
      @include flex-fd-jc-ai-g;
    }
  }

  &-profile {
    &__avatar {
      border-radius: 50%;
      width: 2.25rem;
    }
  }
}

.overlay {
  opacity: 0;
  background-color: #12121257;
  transition: opacity 0.25s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  &--open {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
  }
  @include laptop {
    display: none;
  }
}
