.modal {
  position: relative;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 1rem;
  box-sizing: border-box;
  width: min(85%, 640px);
  @include flex-fd-jc-ai-g(column, $gap: 0.85rem);
  &__title {
    margin: 0;
  }
}
