.spinner {
  &-container {
    inset: 0;
    margin: auto;
    position: absolute;
    @include flex-fd-jc-ai-g(column, center, center, 1rem);
    &--course {
      position: fixed;
      background-color: rgb(226, 232, 240);
      z-index: 3;
    }
  }
  &__title {
    margin: 0;
    animation: spinner 0.25s ease-in-out alternate infinite;
    will-change: transform;
    &:before {
      content: "📚";
      margin-right: 0.1rem;
      animation: spinner_before 2s ease-in-out alternate infinite;
      will-change: opacity, content;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

@keyframes spinner_before {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    content: "👩‍🎓";
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    content: "👨‍🎓";
    opacity: 1;
  }
}
